{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>Hi {% if not (current_user.is_authenticated) %} {% else %} {{ current_user.full_name() }} {% endif %}</h1>
      
      {% if not (current_user.is_authenticated) %}
        <p>
          The purpose of this website is to display the machine learning flashcards created by Chris Albon, including theoretical explanations, examples etc.
          To get access to this content you will need to login. 
          If you don't have an account, please register. 
        </p>
      {% else %}
      <p>
        Go to the <a href="/card">flashcards</a>. 
      </p>
      {% endif %}
  
    </div>
{% endblock %}
